.header{
    height: 120px;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
    background-color: #040821;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    position: sticky;
    padding: 30px 0 0 0;
    top: 0;
    
}
.header__item:hover{
    text-decoration: underline;
    color: rgb(162, 38, 245);
}

.header__item{
    color: white; 
    text-decoration: none;
    margin: 10px 15px;
}


.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.header__logo{
   text-align: center; 
}
.logo{
    max-width: 20%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    
}
